@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #333;
  --white: #fff;
  --primary: #007BFF;
  --secondary: #6C757D;
  --accent: #e62d2d;
  --background: #F8F9FA;
  --text: #333333;
  --heading: #222222;
  --border: #CED4DA;
  --hover: #E0E0E0;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

body {
  margin: 0 auto;
  color: var(--text);
  font-size: var(--font-md);
  max-width: 835px;
  background-color: var(--background);
  padding: 20px;
  border: 2px solid var(--accent);
}

html, body {
  scroll-behavior: smooth;
}

.accent {
  color: var(--accent);
  border-color: var(--accent);
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #3f413f;
}

.h1 {
  text-align: center;
  color: #5dbd5b;
  text-shadow: 1px 1px #fff(0, 0, 0, 1);
  margin: 40px 0 20px;
  display: inline-block;
  font-size: 36px;
}

h2 {
  margin: 20px;
  max-width: 800px;
  text-align: center;
  display: block;
  font-size: 1.6rem;
}

h3 {
  color: #f9fafb;
  margin: 0;
}

.h3-tfoot {
  margin-top: 12.5px;
  margin-bottom: 25px;
}

.h4 {
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #223d13e1;
  text-align: right;
  margin-top: 15px;
  font-size: 1em;
  grid-area: contenido;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  text-shadow: none;
}

.fa {
  margin-right: 5px;
}

.inactive {
  display: none;
}

label {
  display: block;
  margin-bottom: 6px;
}

.hide {
  display: none;
}

#arrow-icon {
  font-size: 14px;
}

/* header */
header .contenedor-aside img {
  overflow: hidden;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: -10px;
}

header .encabezado-titular {
  max-width: 100%;
  margin-bottom: 6px;
  text-align: center;
  background-color: #b8ecb4;
  padding: 15px;
}

header .main-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  background-color: #b8ecb4;
}

header .subtitle {
  font-size: 1.5rem;
  margin: 0;
  animation: color-change 8s infinite;
  padding-bottom: 5px;
  background-color: #b8ecb4;
}

@keyframes color-change {
  0% {
    color: #6f1255;
  }
  25% {
    color: #80651a;
  }
  50% {
    color: #d2512a;
  }
  75% {
    color: #266a94;
  }
  100% {
    color: #795c22;
  }
}

header .rowoman img {
  width: 100%;
}

/* main */
main .instructions-list {
  text-align: center;
  color: #333;
  line-height: 1.1;
  padding-left: 1rem;
}

main .instructions-list li {
  text-align: center;
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
}

main .texto-terciario {
  text-align: center;
  color: #333;
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
}

main .table-board {
  padding: 10px;
  background: linear-gradient(to bottom, #b8ecb4, #11234d50);
  font-size: 1.5rem;
  border-collapse: collapse;
  font-family: "Verdana", sans-serif;
  letter-spacing: 0.5px;
  color: var(--black);
  text-align: center;
  margin: 0 auto;
  min-width: 150px;
  table-layout: auto;
}

main .bannerpic {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-height: 90vh;
}

main .bannerpic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main .logo-destacado {
  display: block;
  margin: 0 auto;
  max-width: 8rem;
  object-fit: contain;
  padding-bottom: 10px;
  float: left;
  margin-right: 10px;
}

main .logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

main .cuarenta-up-px,
main .cuarenta-px {
  text-align: center;
  padding: 20px 0;
}

main table {
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
}

main td {
  padding: 5px; /* Espaciado interno reducido para hacer los botones más compactos */
  word-break: break-word;
  text-align: center;
  border: 1px solid #ccc;
}

main td a {
  display: inline-block; /* Cambiamos a 'block' para que los botones se muestren uno al lado del otro */
  margin-bottom: 5px; /* Espaciado vertical entre los botones */
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

main td a:hover {
  background-color: #0056b3; /* Cambiamos el color de fondo cuando se hace hover */
}

main td a:active {
  background-color: #002a59; /* Cambiamos el color de fondo cuando se hace clic */
}

main .subenlace {
  display: block;
  width: 100%;
}

main .imagen-destacada {
  height: auto;
  max-height: 400px;
  margin: 10px auto;
}

#subcontenido {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  transition: all 0.5s ease;
}

#subcontenido.mostrar {
  display: block;
}

#subcontenido .imagen-destacada {
  max-width: 400%;
  max-height: 300px;
  height: auto;
  display: block;
  margin: auto;
  text-align: center;
  padding: 15px;
}

#subcontenido .cerrar-btn:hover {
  background-color: #d54b3c;
}

/* section */
section .contenedor-aside-abajo {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #11234d50;
}

section .contenedor-aside-abajo img {
  max-width: 90%;
  border-radius: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

section .premisa-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 5px;
}

section .premisa-arriba,
section .premisa-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #11234d50;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}

section .premisa-arriba-texto {
  font-size: 1.2rem;
  font-weight: 500px;
  color: #ffffff;
  text-align: right;
}

section .premisa-abajo-texto {
  font-size: 1.2rem;
  font-weight: 500px;
  color: #ffffff;
  text-align: left;
}

button:not(:hover):not(:active),
a:not(:hover):not(:active),
input[type="submit"]:not(:hover):not(:active) {
  background-color: #b8ecb4;
}

button:hover,
a:hover,
input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

button:active,
a:active,
input[type="submit"]:active {
  background-color: #5296e3;
}

input[type="email"] {
  flex: 1;
  flex: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button,
.button,
a,
input[type="submit"] {
  background-color: var(--primary-color);
  color: #a5f0ed;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* footer */
footer {
  text-align: center;
  background-color: #b4c3bd;
}

footer .footer-wrapper {
  margin: 0 auto;
  margin-bottom: 10px;
}

footer .footer-buttons {
  margin-bottom: 10px;
  padding-right: 15px;
}

footer .footer-link {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #5db956;
  justify-content: space-between;
  gap: 10px;
}

footer .footer-link:hover {
  color: #555;
  background-color: #9780c3;
}

footer .footer-links {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

footer .footer-links li {
  margin: 0;
  flex-wrap: wrap;
}

footer .footer-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

footer .menu-toggle {
  display: none;
  height: 0.1px;
}

#btn-back-to-top {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border: 3px solid rgb(3, 112, 3); /* Se corrige la propiedad border */
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 15px;
  z-index: 999;
  line-height: 1;
  width: 40px;
  height: 40px;
}

/*  */
@media (min-width: 768px) {
  .rowoman {
    height: 30%;
  }
}

@media (max-width: 767px) {
  section .premisa2-icono {
    margin-right: 0;
    margin-bottom: 20px;
  }
  section .premisa-info {
    grid-template-columns: 1fr;
    margin-right: 10px;
    margin-left: 10px;
  }
  section .premisa-arriba,
  .premisa2-titular {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-wrapper {
    padding: 10px;
  }
  footer .footer-links {
    justify-content: center;
  }
  footer .footer-link {
    margin: 5px;
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  section .premisa-info {
    grid-template-columns: 1fr;
  }
  footer .footer-link {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #ccc;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
