@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
	--white: #ffffff;
	--black: #000000;
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
}  
  
header ul li a {
  text-decoration: none;
  color: black;
}

#page-wrap {
	position: relative;
	display: block;
	clear: both;
	background: none;
	color: #000;
	text-decoration: none;
	padding: 3rem 0;
	width: 100%;
	height: 100%;
}

#inner-wrap {
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 322px;
	overflow: visible;
}

span {
  max-width: 1000px; /* ancho máximo */
  margin: 0 auto; /* centrar */
  display: flex; /* para centrar verticalmente */
  align-items: center; /* centrar verticalmente */
	  text-decoration: none;
	  justify-content: space-between;
}

.h1 {
  text-align: center;
  color: #5dbd5b;
  text-shadow: 1px 1px  #fff(0, 0, 0, 1);
   margin: 40px 0 20px;
  display: inline-block;
  font-size: 36px;
}

h2 {
margin: 0 auto; /* margen superior e inferior de 40px y centrado horizontalmente */
  max-width: 800px; /* ancho máximo del elemento */
  text-align: center;
  display: block;
  font-size: 24px; /* tamaño de fuente reducido */
}

h3 {
  text-align: center;
  padding: 10px;
}

p {
  color : #666;
  text-align: right;
  margin-top: 15px;
  font-size: 1.1em;
  grid-area: contenido;
  margin-bottom: 15px;
	margin-left: 20px;
  font-size: 1.5em;
  text-shadow: none;
}

.darky {
	color:#333;
  font-size: 1.3em;
}

.headpic {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.headpic img {
  width: 100%;
  max-width: 100%;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

nav {
	display: flex;
	justify-content: space-between;
  	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
}

.inactive {
	display: none;
}

.menu {
	display: none;
}

.navbar-home {
    display: inline-block;
    padding: 30px;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
	padding-left: 10px;
}

.navbar-home img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-left {
	display: flex;
}

.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
	justify-content: space-between;
}

.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}

.navbar-left ul {
	margin-left: 12px;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
	margin-left: 12px;
    margin-top: 10px;
}

.navbar-left ul li {
    padding-right: 15px;
    margin-bottom: 10px;
}

#top {
margin-right: 25px;
}

  .title {
  text-align: center;
  margin: 20px 0;
  animation: title-color 10s infinite;
}

@keyframes title-color {
  0% {
    color: #00C9FF;
  }
  25% {
    color: #1f5260;
  }
  75% {
    color: #47ABAE;
  }
  100% {
    color: #47ABAE;
  }
}

.subtitle {
  text-align: center;
  margin: 5px 0;
  animation: subtitle-color 20s infinite;
}

@keyframes subtitle-color {
  20% {
    color: #82c869;
  }
  60% {
    color: #67bea0;
  }
  80% {
    color: #00C9FF;
  }
  100% {
    color: #8b71d2;
  }
}

.sombreado {
  background-color: rgba(151, 243, 228, 0.205);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  max-width: 100%;
}

.sombreado-interno {
  background-color: rgba(151, 243, 228, 0.205);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.sombreado-interno h1, 
.sombreado-interno h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.sombreado-interno h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
}

.sombreado-interno h2 {
  font-size: 1.2rem;
  text-align: right;
}

.intro {
  width: 100%;
  object-fit: cover;
}
  
.intro p {
  color: #333; /* color gris oscuro */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.intro img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.intro-image {
  width: 50%;
  transition: all 0.5s ease-in-out;
}

.intro-image img {
  width: 100%;
  height: auto;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  text-align: center;
}

.intro-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  transition: all 0.5s ease-in-out;
}

.intro-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.intro-container.show {
  opacity: 1;
}

.intro-text {
  margin-right: 3rem;
  transition: all 0.5s ease-in-out;
}

.intro-container.show .intro-text {
  transform: translateX(0);
  opacity: 1;
}

.intro-container.show .intro-image {
  transform: translateX(0);
  opacity: 1;
}

.intro-carousel {
  overflow: hidden;
}

.intro-carousel-container {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
  animation-delay: 0.4s; /* Delay para esperar que los elementos se carguen */
}

.intro-carousel:hover .intro-carousel-container {
  animation-play-state: paused;
}

.intro-carousel p {
  display: inline-block;
  margin: 0 10px;
  color: #333; /* color gris oscuro */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

td {
  display: inline-block;    
  text-align: center;
  width: auto;
  margin: 10px;
  padding: 10px;
  background-color: #a8d6fc;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "Verdana";
  letter-spacing: 0.5px;
  color: var(--black);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  transition: all 0.4s ease;
}

.table-board {
  padding: 20px;
  background-color: #47a1d9;
  font-size: 1.6rem;
  border-collapse: collapse;
  font-family: "Verdana", cursive, sans-serif;
  letter-spacing: 0.5px;
  color: var(--black);
  text-align: center;
  border: 2px solid black;
  margin: 0 auto;
  min-width: 150px; /* Establece un ancho mínimo de 150px */
}

.table-board:hover {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);    
  color: #666;
}

.table-board td {
  border-radius: 5px;
  transition: all 0.4s ease;
  padding: 5px;
}

.table-board td:hover {
  background-color: #005EA8;
    color: #ccc;
}

.subtable-board {
  padding: 20px;
  background-color: #47a1d9;
  font-size: 1.6rem;
  border-collapse: collapse;
  font-family: "Verdana", cursive, sans-serif;
  letter-spacing: 0.5px;
  color: var(--black);
  text-align: center;
  border: 2px solid black;
  margin: 0 auto;
  min-width: 150px; /* Establece un ancho mínimo de 150px */
}

.subtable-board:hover {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);    
  color: #666;
}

.subtable-board td {
  border-radius: 5px;
  transition: all 0.4s ease;
  padding: 5px;
}

.subtable-board td:hover {
  background-color: #005EA8;
    color: #ccc;
}

.subtable-board td a.subenlace {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.enlace .centrado {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.enlace .left-col {
  flex: 0 0 auto;
  margin-right: 20px;
}

.enlace .left-col img {
  max-width: 100%;
  height: auto;
}

.enlace .right-col {
  flex: 1 1 auto;
}

/* .enlace #toggle-button {
  position: absolute;
  top: 0;
  right: 0;
} */

.enlace {
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "imagen"
    "credito"
	"titulo"
    "contenido"
    "boton";
	align-items: start; 
	 position: relative; 
    color: #333;
    font-size: 21px;
    text-decoration: none;
}

.enlace #h2 {
 text-align: left;
}

.centrado {
  display: flex;
  justify-content: center;
	align-items: start; 
  height: 100%;
  padding: 10px;
}

.centrado img {
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente */
  max-height: 300px;
  margin: 10px 0;
}
  
.centrado h2 {
  align-self: start; /* Alinea la etiqueta h2 en la parte superior */
   margin-top: 0;
}

.centrado #credito {
  left: 0;
  font-size: 14px;
  color: #333;
  background-color: white;
  align-self: start;
     margin-top: 20;
}

.centrado #contenido {
  display: none;
    color: black;
	margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcentrado {
  display: flex;
  justify-content: center;
	align-items: start; 
  height: 100%;
}

.subcentrado img {
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente */
  max-height: 300px;
  margin: 10px 0;
}
  
.subcentrado h2 {
  align-self: start; /* Alinea la etiqueta h2 en la parte superior */
   margin-top: 0;
}

.subcentrado #credito {
  left: 0;
  font-size: 14px;
  color: #222;
  background-color: white;
  align-self: start;
     margin-top: 20;
}
  
.subcentrado #contenido {
  display: none;
    color: #f2f2f2;
	margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subenlace {
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "imagen"
    "credito"
	"titulo"
    "contenido"
    "boton";
	 align-items: start;
	 position: relative; 
    color: #333;
    font-size: 21px;
    text-decoration: none;
}

.subenlace #h2 {
 text-align: left;
}

#subcontenido {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8); /* Fondo semitransparente */
  display: none;
  z-index: 1;
  transition: all 0.5s ease; /* Efecto de transición */
}

#subcontenido.mostrar {
  display: block;
}

#subcontenido .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#subcontenido img.subimagen-destacada {
  max-width: 100%;
  height: auto;
}

#subcontenido button#toggle-button {
  margin-top: 10px;
}

.titulo-fijo {
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .centrado img {
    width: 100%;
    height: auto;
  }
}

.toggle-container {
  margin-bottom: 10px;
}

.toggle-button {
  grid-area: boton;
  justify-content: center;
}

#toggle-button-1,
#toggle-button-2,
#toggle-button-3,
#toggle-button-4 {
  justify-content: center;
}

.contenido-adicional {
  display: none;
}

.expanded .contenido-adicional {
  display: block;
}

.subcontenido {
  display: none;
}

.expanded .subcontenido {
  display: block;
}

.imagen {
  grid-area: imagen;
}

.imagen-destacada {
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente */
  max-height: 300px;
  margin: 10px 0;
  align-self: start;
}

.subimagen-destacada {
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente */
  max-height: 300px;
  margin: 10px 0;
  align-self: start;
}


.imagen-principal {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.logo-carousel {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.logo-item {
  margin-left: 20px;
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
}

.logo-carousel:hover .logo-item {
  transform: translateX(0%);
  transition: transform 2s ease-in-out;
}

.logo-item:last-of-type {
  margin-right: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-carousel {
  animation: carousel 25s linear infinite;
}

.article-snippet {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #98DBC6;
  padding: 20px;
  box-sizing: border-box;
}

.article-card {
  justify-content: center;
  width: 300px;
  margin-right: 20px;
  scroll-snap-align: start;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 20px;
  background-color: #fff;
  box-sizing: border-box;

  flex: 1 1 calc(50% - 1rem);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card:hover {
  transform: translateX(-10px);
}

.article-card .more-content {
  display: none;
}

.article-card.expanded .more-content {
  display: block;
}

footer {
  margin-top: 200px;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  padding: 20px; /* Modificado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3586ff;
}

footer .social_icon, footer .menu {
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 10px 0;
}

footer .social_icon li, footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

footer .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}

.footer-interno {
  margin-top: 333px;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3586ff;
 position: relative;
bottom: 0;
}

.footer-interno .social_icon, footer .menu {
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 10px 0;
}

.footer-interno .social_icon li, footer .menu li {
  list-style: none;
}

.footer-interno .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footer-interno .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

.footer-interno .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

.footer-interno .menu li a:hover {
  opacity: 1;
  color: #fff;
}

/*wave and animation*/
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

.encabezado-categorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.encabezado2-categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado-icono {
  margin-left: 20px;
}

.encabezado2-icono {
  margin-right: 20px;
}

.encabezado-texto {
  text-align: left;
  flex: 1;
      color:  #333;
} 

.encabezado2-texto {
	text-align: right;
  flex: 1;
}

.encabezado2-categorias img {
  display: block;
}

.image-wrapper {
  position: relative;
}

.image-credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  color: #777;
}

.cerrar-btn {
  bottom: 0;
  right: 0;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: #999;
  font-size: 20px;
  cursor: pointer;
  }

  // si cierro esta etiqueta mi archivo se vuelve un infierno...
  .cerrar-btn:hover {
    background-color: #444;

@media only screen and (max-width: 768px) {
  .encabezado-categorias,.encabezado2-categorias {
    flex-direction: column;
  }
}
  
.encabezado-icono, .encabezado2-icono {
	  display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }.nueva-clase {
  display: flex;
  align-items: center;
  position: relative;
  color: #333;
  font-size: 21px;
  text-decoration: none;
}

.nueva-clase .centrado {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.nueva-clase .left-col {
  flex: 0 0 auto;
  margin-right: 20px;
}

.nueva-clase .left-col img {
  max-width: 100%;
  height: auto;
}

.nueva-clase .right-col {
  flex: 1 1 auto;
}
/* 
.nueva-clase #toggle-button {
  position: absolute;
  top: 0;
  right: 0;
} */

footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .social_icon, footer .menu {
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 10px 0;
}

footer .social_icon li, footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

footer .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}

/*wave and animation*/
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);
  background-size: 1000px 100px;

@keyframes animateWave {
  0%{
    background-position-x: 1000px; 
  }
  100%{
    background-position-x: 0px; 
  }
}

@keyframes animateWave_02 {
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }


@media (max-width: 640px) {
	.menu {
		display: block;
	}

	.navbar-left ul {
		display: none;
	}

	.desktop-menu {
		display: none;
	}	
}

@media (min-width: 641px) {
	.mobile-menu {
		display: none;
	}
}

@media (max-width: 768px) {
  .encabezado2-categorias {
    flex-direction: column;
    align-items: center;
  }
  
  .encabezado2-icono {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
}
}
