@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  :root {
    font-size: 16px; /* Establece el tamaño base */
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }  
  body {
  max-width: 800px;
  margin: 0 auto;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  }

#page-wrap {
	position: relative;
	display: block;
	clear: both;
	background: none;
	color: #000;
	text-decoration: none;
	padding: 3rem 0;
	width: 100%;
	height: 100%;
}

#inner-wrap {
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 322px;
	overflow: visible;
}

span {
	max-width: 1000px;
	margin: 0 auto; /* centrar */
	display: flex; /* para centrar verticalmente */
	align-items: center; /* centrar verticalmente */
	text-decoration: none;
	justify-content: space-between;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.h1 {
  text-align: center;
  color: #5dbd5b;
  text-shadow: 1px 1px  #fff(0, 0, 0, 1);
  margin: 40px 0 20px;
  display: inline-block;
  font-size: 36px;
}

h2 {
  margin: 20px;
  max-width: 800px;
  text-align: center;
  display: block;
  font-size: 1.6rem;
}

h3 {
  color: #f9fafb;
  margin: 0;
}

.h4 {
  text-align: center;
  font-size: 1.2rem;
}

p {
  color : #bd8b8be1;
  text-align: right;
  margin-top: 15px;
  font-size: 1em;
  grid-area: contenido;
  margin-bottom: 15px;
  margin-left: 20px;
  text-shadow: none;
}

.cuarenta-up-px {
  padding-top: 20px; 
  text-align: center;
}

.cuarenta-px {
  padding-bottom: 20px; 
  text-align: center;
}




/* Estilos para pantallas grandes */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  color: #333;
  text-decoration: none;
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item.active {
  background-color: #ddd;
}

.menu-dropdown {
  position: relative;
}

.menu-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0.5rem 0;
  border-radius: 5px;
}

.dropdown-content a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 1rem;
  }
  
  .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px;
    border-radius: 2px;
  }
  
  .menu-toggle:focus + .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  
  .menu-item:first-child {
    border-top: none;
  }
}







.bannerpic {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.bannerpic img {
  width: 100%;
  max-width: 100%;
}

.fa {
  margin-right: 5px;
}/* Estilos para los iconos */

.inactive {
	display: none;
}

.encabezado {
  background-color: #73dd6be3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(151, 62, 62, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 100%;
}

.encabezado-titular {
  text-align: center;
  margin-bottom: 20px;
}

  @keyframes color-change {
    0% {
      color: #132390;
    }
    25% {
      color: #22ffae;
    }
    50% {
      color: #671b74;
    }
    75% {
      color: #4caf50;
    }
    100% {
      color: #2196f3;
    }
  }

.encabezado-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.encabezado-arriba,
.encabezado-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 53%, 45%);
  padding: 20px;
  border-radius: 5px;
  color: #fff;
}

.encabezado-arriba-icono img,
.encabezado-abajo-icono img {
  border-radius: 50%;
  margin-right: 10px;
}

.encabezado-arriba-icono img {
  justify-self: end;
}

.encabezado-abajo-icono img {
  align-self: flex-end;
}

.encabezado-arriba-texto {
  font-size: 1.2rem;
  font-weight: 500px;
  text-align: left;
  color: #ffffff;
}

.encabezado-abajo-texto {
  font-size: 1.2rem;
  font-weight: 500px;
  text-align: right;
  color: #ffffff;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .encabezado {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  
  .encabezado-info {
    grid-template-columns: 1fr;
  }
}

.main-title {
  font-size: 1.95rem;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 1.3rem;
  margin: 0;
  animation: color-change 8s infinite;
}

td {
  display: inline-block;    
  text-align: center;
  width: auto;
  margin: 10px;
  padding: 10px;
  background-color: #3187ce;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Verdana";
  letter-spacing: 0.5px;
  color: var(--black);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  transition: all 0.4s ease;
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}/* Estilo de los botones */

table {
  border-collapse: collapse;
  width: 100%;
}

.table-board {
  padding: 20px;
  background: linear-gradient(to bottom, #5555e8, #a5d982fc);
  font-size: 1.6rem;
  border-collapse: collapse;
  font-family: "Verdana", cursive, sans-serif;
  letter-spacing: 0.5px;
  color: var(--black);
  text-align: center;
  border: 2px solid black;
  margin: 0 auto;
  min-width: 150px;
}

.table-board:hover {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);    
  color: #666;
}

.table-board td {
  border-radius: 5px;
  transition: all 0.4s ease;
  padding: 5px;
}

.table-board td:hover {
  background-color: #005EA8;
    color: #ccc;
}

.table-board th, .table-board td, .table-board tr {
  text-align: center;
}

tfoot {
  background-color: #f2f2f2;
  font-size: 16px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

label {
  display: block;
  margin-bottom: 6px;
}

#confirmation-message {
  margin-top: 10px;
}

.hide {
  display: none;
}

.table-footer {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.table-footer h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.table-footer p {
  margin-bottom: 20px;
}

button, a, input[type="submit"] {
  background-color: #d7f0d5;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
button:hover, a:hover, input[type="submit"]:hover {
  background-color: #f0e5a5;
}
button:active, a:active, input[type="submit"]:active {
  background-color: #a9e42a;
}/* Regla CSS para efecto de "feedback háptico" o "efecto háptico" */

.btn {
  display: inline-block;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #15c8b9;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  background-color: #12918b;
}

.boton-td {
  position: relative;
}

.boton-td::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
}

.boton-td a {
  position: relative;
  z-index: 2;
}

span i {
  font-size: 60px; /* Tamaño de la flecha */
  display: inline-block; /* Para que aparezcan al lado del título */
  margin: 0 10px; /* Espacio entre la flecha y el título */
}/* Estilos para las flechas */

span .fa-chevron-up {
  transform: none; /* Gira la flecha 180 grados */
}/* Estilos para la flecha de "Artículos recientes" */

span .fa-chevron-down {
  transform: none; /* No es necesario aplicar una transformación, la flecha ya apunta hacia abajo */
}/* Estilos para la flecha de "Artículos agregados" */

span.icon {
  display: inline-block; /* para poder ajustar el margen */
  margin-left: 10px; /* ajusta el margen a la izquierda */
  margin-right: 10px; /* ajusta el margen a la derecha */
  vertical-align: middle; /* alinea verticalmente la flecha con el texto */
}

#subcontenido {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8); /* Fondo semitransparente */
  display: none;
  transition: all 0.5s ease;
}

#subcontenido.mostrar {
  display: block;
}

#subcontenido .imagen-destacada {
  max-width: 400%;
  max-height: 300px;
  height: auto;
  display: block; /* para que el margin: auto; funcione */
  margin: auto; /* para centrar horizontalmente */
  text-align: center; /* para centrar verticalmente */
  padding: 15px;
}

#subcontenido .cerrar-btn:hover {
  background-color: #d54b3c;
}/* Cambia el color del botón de cerrar al hacer hover */

.contenedor-grilla {
  background-color: #73dd6be3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.atencion-titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 1.5;
  margin: 21px;
  position: relative;
  color: var(--blue);
}

.columna-derecha img {
  max-width: 100%;
  height: auto;
}

.columna-derecha .atencion-contenedor {
  margin: 0 auto;
  /* max-width: 350px; */
}
  
@media screen and (max-width: 768px) {
  .contenedor-grilla {
    grid-template-columns: 1fr;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
  }
  
  .columna-derecha {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  
  .columna-derecha .atencion-contenedor {
    margin: 0;
  }
}

.atencion-contenedor {
  position: relative; 
  background-color: #73dd6be3;
  border: 4px solid #73dd6be3;
}

.atencion-contenedor img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: scaleX(-1);
}

.atencion-contenedor .atencion-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo-fijo {
  margin-top: 0;
}

.sinopsis {
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 30px;
}

.imagen-destacada {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  margin: 10px auto;
  align-self: start;
  margin-top: 15px;
  padding-top: 20px;
}

.logo-destacado {
  display: block;
  margin: 0 auto;
  max-height: 6rem;
  max-width: 100%;
  object-fit: contain;
  padding-bottom: 10px;
  float: left;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.author-container {
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  text-align: right;  
}

.author-container a {
  display: block;
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 0;
  background-color: #292929;
  color: #f9fafb;
  text-decoration: none;
}

.blog-link {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  float: left;
  text-align: left;
  margin-top: 10px;
}

.blog-link a {
  font-size: 1.8rem;
  font-family: 'Merriweather', serif; /* Fuente serif clásica */
  margin: 0 20px 0 10px;
  padding: 8px 15px;
  border-radius: 15px;
  background-color: #292929;
  color: #f9fafb;
  text-decoration: none;
}

.blog-link a:hover {
  background-color: #015c04;
  color: #fff;
}

.footer-menu .menu__link {
  color: #96bfe9;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #292929;
  transition: all 0.3s ease-in-out;
}

.footer-menu .menu__link:hover {
  background-color: #4d4d4d;
}

.bottom {
  margin-bottom: 10px; /* reduce el margen inferior del footer a 10px */
}

.image-container {                                                                                                          
  max-height: 400px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;

}

.image-container img {
  background-color: #73dd6be3;          
  width: 100%;
  height: auto;
  display: block;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 768px) {
  .encabezado-arriba, .encabezado2-titular {
    flex-direction: column;
  }
  .encabezado2-titular {
    align-items: center;
  }
  .encabezado2-icono {
    margin-right: 0;
    margin-bottom: 20px;
  }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
    }
  }