

/* .subtable-board {
  padding: 20px;
	max-width: 30%;
	padding: 0 10px;
  background-color: #01645c;
  font-size: 1.6rem;
  border-collapse: collapse;
  font-family: "Verdana", cursive, sans-serif;
  letter-spacing: 0.5px;
  color: var(--black);
  text-align: center;
  border: 2px solid black;
  margin: 0 auto;
  min-width: 150px; /* Establece un ancho mínimo de 150px
} 

.subtable-board td {
  font-size: 1.1rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.subtable-board:hover {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  color: #666;
}

.subtable-board td:hover {
  background-color: #005EA8;
    color: #ccc;
}

.subtable-board td a.subenlace {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
} */
